.home {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    padding: 20px;
    font-family: 'Arial', sans-serif; /* Clean, modern font */
    background-color: #f1ddb8; 
    min-height: 85vh; 
    
    /* min-width: 85vh; */
}

.buttons {
    /* display: flex; */
    gap: 16px; /* Spacing between buttons */
    margin-bottom: 20px; /* Space between buttons and cards */
}

.buttons button {
    background-color: #44330b; /* Light blue color */
    color: #f4b728; /* White text for contrast */
    border: none; /* Remove default border */
    border-radius: 8px; /* Rounded corners */
    padding: 12px 24px; /* Comfortable padding */
    margin: 4px;
    font-size: 16px; /* Slightly larger font for visibility */
    font-weight: bold; /* Bold text for emphasis */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition */
}

.buttons button:hover {
    background-color: #eec57c; /* Darker blue on hover */
    color: #44330b;
    transform: translateY(-2px); /* Slight lift effect */
}

.buttons button:active {
    background-color: #221904; /* Even darker blue on click */
    transform: translateY(1px); /* Subtle press effect */
}

@media print {
    body * {
        visibility: hidden; /* Hide everything */
    }
    .print-area, .print-area * {
        visibility: visible; /* Show only the print area */
    }
    .print-area {
        position: absolute;
        top: 0; 
        left: 0;        
    }

    .pagebreak { page-break-after: always; } 
   
    /* @page {
      size: landscape;
     margin: 0;
    } */
}
  
.about-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #eee6d7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
h1 {
    text-align: center;
    color: #333;
}
  
h2 {
    color: #444;
    margin-top: 20px;
}
  
p {
    color: #555;
    font-size: 16px;
}
  
ol {
    margin-left: 20px;
    padding-left: 10px;
}
  
ol li {
    margin: 8px 0;
}
  
footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    font-size: 14px;
    color: #666;
}
  