.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eec57c;
    padding: 10px 20px;
    /* width: 100%;
    max-width: 100vh; */
    color: #9c5d1a;
    font-family: Arial, sans-serif;
  }
  
  .navbar-logo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1.5em;
    font-weight: bold;
  }

  .navbar-logo-img {
    width: 3rem;
    height: auto;
  }
  .navbar-logo p {
    color: #9c5d1a;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #9c5d1a;
    font-size: 1em;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #44330b;
  }
  