canvas {
    width: 94vw; /* Make the canvas width fill the viewport width */
    height: auto; /* Maintain the aspect ratio of the canvas */
    display: block; /* Remove extra spacing from inline elements */
    margin: 0 auto; /* Center the canvas horizontally */
}

.paper-wallet-img {
    margin: 16px;
}